# Django Configuration
SECRET_KEY=_cv$!8-+o)@c#9m0w9a4_6k-hgg12@np$#6u)a#fiw%2#-q=h9
DEBUG=True

# Database Configuration (MongoDB)
DB_NAME=attendance_system
DB_HOST=localhost
DB_PORT=27017
DB_USERNAME=
DB_PASSWORD=

# Google Maps API
GOOGLE_MAPS_API_KEY="your  maps api  key"

# Face Recognition Configuration
FACE_RECOGNITION_TOLERANCE=0.6
FACE_RECOGNITION_MODEL=hog
GEO_FENCING_BUFFER=10
ADV_FACE_COSINE_THRESHOLD=0.5
